<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Title</title>
    <th:block th:replace="/basetemplate::headstuff"></th:block>
</head>
<body>
<div th:replace="/basetemplate::headstuff"></div>

<!--<table>
    <tr>
        <th>Item</th>
        <th>Serving size</th>
        <th>Type</th>
    </tr>
    <tr th:each="foodItems : ${foodlist}">
        <td th:text="${foodItems.itemName}"></td>
        <td th:text="${foodItems.servingSize}"></td>
        <td th:text="${foodItems.itemCategory}"></td>
        <
    </tr>
</table>-->

<div class="wrapper">
    <div class="main-panel">

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>

                    <table id="bootstrap-table" class="table">
                        <thead>
                        <th data-field="itemName" data-sortable="true">Item</th>
                        <th data-field="servingSize" data-sortable="true">Serves</th>
                        <th data-field="itemCategory" data-sortable="true">Food Type</th>
                        <th data-field="broughtby">Brought By</th>
                        </thead>
                        <tbody>
                        <tr th:each="foodItems : ${foodlist}">
                            <td th:text="${foodItems.itemName}"></td>
                            <td th:text="${foodItems.servingSize}"></td>
                            <td th:text="${foodItems.itemCategory}"></td>
                            <td th:text="${foodItems.getAppUser().getAppUsername()}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>
    </div>
</div>

<th:block th:replace="/basetemplate::bootstrap4js"></th:block>
</body>
</html>